[submodule "ext/PQClean"]
	path = ext/PQClean
	url = https://github.com/PQClean/PQClean.git
[submodule "ext/libjade"]
	path = ext/libjade
	url = git@github.com:clebreto/libjade.git
	branch = feature/riscv
