[submodule "ext/PQClean"]
	path = ext/PQClean
	url = https://github.com/PQClean/PQClean.git
[submodule "ext/libjade"]
	path = ext/libjade
	url = https://github.com/clebreto/libjade.git
	branch = feature/riscv
[submodule "crypto-specs"]
	path = crypto-specs
	url = git@github.com:formosa-crypto/crypto-specs.git
